<form action="." method="POST">
    <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">Add New task</h5>
                </div>
                <div class="modal-body">
                    <textarea id="textarea-task" class="form-control" name="title" rows="3" placeholder="Enter Task"></textarea>
                </div>
                <div class="modal-footer">
                    <button id="close-modal" type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-success">Add Task</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    const textarea = document.querySelector('#textarea-task');
    textarea.value = '';
    const btn = document.querySelector('#close-modal');

    btn.addEventListener('click', function handleClick() {
        console.log(textarea.value);
        textarea.value = '';
    });
</script>